*{
margin: 0;
}
html {
background-image:url("background-image.jpeg");
background-size: cover;
background-repeat: no-repeat;
}
body{
background-color: rgba(230, 224, 224, .6);
width:60%;
margin:auto;
min-height:100vh;
text-align:center;
font-family:sans-serif;
}
h1{
font-size:40px;
color: rgb(255, 255, 255);
background-color:#00588f;
padding: 20px 0;
}
ul{
background-color:#ff8080;
margin-bottom: 40px;
}
li{
display: inline-block;
}
a{
color: floralwhite;
font-size: 25px;
text-decoration: none;
padding: 17px;
display: block;
}
a:hover{
background-color: #fdafbb;
}
p{
margin-top: 30px;
margin-bottom: 20px;
color:#40004d;
font-size: 20px;
}
img{
width: 80%;
height: 30%;
}